// import initial variables
@import '../node_modules/bulma/sass/utilities/initial-variables'
// import custom variables
@import 'bulma-styles.sass'

html
    scroll-behavior: smooth

// override bulma
.App
  .columns
    flex-wrap: wrap
  .container
  	margin: unset

